body{
  overflow: hidden;
  margin:0;
}

.container{
  width: 100vw; 
  height: 100vh; 
  display: flex; 
  justify-content: center;
  align-items: center;
  background: black;
}


svg {
  position:relative;
}

.my-fill {
  fill: url(#myVerticalGradient);
  stroke: url(#myStrokeGradient);
  stroke-width: 10;
  filter: blur(4px);
}

.shape {
  stroke: none;
  fill: url(#myHorizontalGradient);
}
